{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Welcome to GPT Tools</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
      <div class="card bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title"><a class="text-white" href="{{ url_for('email_generation_tool') }}">Email Generation Tool</a></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mx-auto">
      <div class="card bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title"><a class="text-white" href="{{ url_for('stable_diffusion_tool') }}">Stable Diffusion Tool</a></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mx-auto">
      <div class="card bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title"><a class="text-white" href="{{ url_for('regex_generation_tool') }}">Regex Generator Tool</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
